*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", "Merriweather", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
  color: currentColor;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --font-family: "Rubik", sans-serif;
  --second-family: "Merriweather", sans-serif;
  --greys---light-grey: #646d70;
  --greys---white: #fff;
  --color---dark-green: #222f33;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  padding: 0 15px;
}
/* ================= Header and Hero Section=========================== */

.hero-section {
  min-height: 100vh;
  justify-content: center;
  background-image: url("./images/bg-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--greys---white);
  align-items: center;
  /* margin-right: 101px; */
}

@media (min-resolution: 192dpi) {
  .hero-section {
  }
}
.icon-logo {
  /* margin-left: 101px; */
  margin-top: 39px;
}
.head-menu {
  display: flex;
  margin-left: 488px;
  margin-top: 46px;
  justify-content: flex-end;
  gap: 40px;
  flex-direction: row;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: var(--greys---white);
}

.contact {
  display: inline-block;
  border: var(--greys---white);
  background-color: var(--greys---white);
  color: var(--greys---light-grey);
  padding: 10px 21px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  border-radius: 4px;
  width: 90px;
  height: 34px;
}
.hero-main-cont {
  display: flex;
  flex-direction: row;
}
.hero-cont {
  margin-top: 184px;
  /* margin-left: 101px; */
  /* width: 440px;
  height: 115px; */
}

.hero-title {
  font-weight: 500;
  font-size: 16px;
  color: var(--greys---white);
}

.main-title {
  margin-top: 12px;
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 30px;
  color: var(--greys---white);
  max-width: 440px;
  /* height: 183px; */
}

.hero-play {
  display: flex;
  flex-direction: row;
  margin-left: 132px;
  margin-top: 191px;
}
.play {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 11px;
  background-color: var(--greys---white);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--color---dark-green);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.play-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.film {
  margin-left: 10px;
  color: var(--greys---white);
}
.social-cont {
  display: flex;
  flex-direction: row;
}
.social-menu {
  margin-top: 81px;
  margin-right: 29px;
}

.social-link {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: var(--greys---white);
  margin: 10px 0;
  padding: 8px 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 10px;
}
/* =====================second-section=============================== */

.materials-section {
  background-color: var(--greys---white);
}
.mat-first-cont {
  z-index: 1;
  margin-left: 0;
  /* width: 616px;
  height: 399px; */
  background-color: var(--greys---white);
}
.mat-sec-cont {
  /* position: absolute; */
  z-index: 2;
  /* margin-top: 563px; */
  /* margin-left: 100px; */
  max-width: 400px;
  /* height: 275px; */
}
.innovat-main-cont {
  border: 1px solid var(--color---dark-green);
  /* width: 1000px; */
  /* height: 478px; */
  background: var(--color---dark-green);
}
.innovat-cont {
  /* width: 803px; */
  /* height: 169px; */
  /* margin-left: 100px; */
  margin-bottom: 78px;
  justify-content: center;
}

.sec-title {
  margin-top: 62px;
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 30px;
  color: var(--color---dark-green);
}
.innovat-sec-title {
  margin-top: 72px;
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 30px;
  color: var(--greys---white);
}
.page-cont {
  display: flex;
  flex-direction: row;
  gap: 43px;
}
.main-page {
  margin-top: 11px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  /* line-height: 24px; */
  line-height: 171%;
  color: var(--greys---white);
  opacity: 0.7;
}
.sec-page {
  margin-top: 12px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;

  /* line-height: 26px; */
  line-height: 186%;
  color: var(--greys---light-grey);
}

.btn-sec {
  margin-top: 13px;
  border: 1px solid var(--greys---light-grey);
  border-radius: 4px;
  width: 90px;
  height: 34px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: #606b74;
  background-color: transparent;
}
.materials {
  overflow: hidden;
  position: absolute;
  right: 100px;
  top: 524px;
  z-index: 4;
  background: var(--color---dark-green);
  width: 325px;
  height: 366px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* ==========================third-section========================== */

.features-section {
  background-color: var(--greys---white);
}
.features-cont {
  display: flex;
  flex-direction: row;
}
.feat-sect-img {
  /* width: 355px;
  height: 362px; */
  margin-top: 85px;
  margin-left: 100px;
}
.feat-main-cont {
  margin-top: 85px;
  /* flex-wrap: wrap; */
  gap: 60px;
  display: flex;
  /* width: 370px;
  height: 353px; */
}
.features-list {
  display: flex;

  /* width: 155px;
  height: 93px; */
  gap: 60px;
}
.feat-con {
  width: calc(100% / 5 - 60px);
  display: flex;
  flex: 1 1 45%;
  flex-wrap: wrap;
  width: 155px;
  height: 93px;
}
.features-title {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 18px;
  color: var(--color---dark-green);
}
.features-page {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;

  /* line-height: 22px; */
  line-height: 183%;
  color: var(--greys---light-grey);
  opacity: 0.7;
}
.features {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  margin-top: 4px;
  /* line-height: 22px; */
  line-height: 183%;
  color: var(--greys---light-grey);
}
/* ==================================================== */

.footer-wrapper {
  width: 100%;
  padding: 20px 0;
  height: 92px;
  background-color: var(--color---dark-green);
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.mail-link {
  margin-left: 50px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  color: var(--greys---white);
  opacity: 0.6;
}
.cook-cont {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  text-align: right;
  color: var(--greys---white);
  opacity: 0.6;
  gap: 30px;
}

.logo-tipe {
  margin-left: 257px;
}

/* @media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
@media screen and (max-width: 768px) {
  .hero-cont {
    margin: 0 auto;
    width: 90%;
    text-align: center;
  }

  .hero-play {
    margin: 20px auto 0;
    justify-content: center;
  }

  .head-menu {
    display: none; /* або замінити на бургер-меню */
/* }

  .social-cont {
    justify-content: center;
    margin-top: 20px;
  }

  .page-cont {
    flex-direction: column;
    gap: 20px;
  }
}
h1,
h2,
h3,
h4 {
  font-size: clamp(24px, 5vw, 32px);
}
.container {
  padding: 0 15px;
} */
